<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vocabulaire</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="title">Test de vocabulaire</h1>
  <p>How do you say school ? </p>
  <input type="text" name="answer" id="">
  <input type="submit" value="Envoyer"> </br>
  <br>
  <a href="/vocabulaire">Voir la liste de vocabulaire</a>
</body>
</html>
