<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vocabulaire</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="title">Apprendre l'anglais</h1>
  <h2 class="element">Liste de mots</h2>
  <table>
    <colgroup>

      <col style="width: 100px;">
      
      <col style="width: 500px;">
      
      <col style="width: 100px;">
      
      </colgroup>
    <tr>
      <th>Word</th>
      <th>Translation</th>
      <th>Action</th>
    </tr>
    <% for(const voc of vocabulaires) { %>
      <tr>
        <td><%= voc.word %></td>
        <td><%= voc.translation %></td>
        <td>
          <input type="submit" value="Delete">
        </td>
      </tr>
    <% } %>
  </table>
  <h2 class="element">Ajouter un mot</h2>
    <input type="text" placeholder="mot en anglais" required>
    <input type="text" placeholder="mot en français"required>
    <input type="submit" value="Ajouter" />
</body>
</html>
