<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vocabulaire</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="title">Apprendre l'anglais</h1>
  <h2 class="element">Liste de mots</h2>
  <table>
    <colgroup>

      <col style="width: 500px;">
      
      <col style="width: 500px;">
      
      <col style="width: 100px;">
      
      </colgroup>
    <tr>
      <th>Word</th>
      <th>Translation</th>
      <th>Action</th>
    </tr>
    <% for(const voc of vocabulaires) { %>
      <tr>
        <td><%= voc.word %></td>
        <td><%= voc.translation %></td>
        <td>
          <form action="/addvoc" method="post">
            <input type="hidden" name="word" value="<%= voc.word %>" />
            <input type="hidden" name="translation" value="<%= voc.translation %>" />
            <input type="submit" value="delete" />
          </form>
        </td>
      </tr>
    <% } %>
  </table>
</body>
</html>
